
/*definindo o grid de 12 colunas
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}*/

*{
    margin: 0;
    padding: 0;
    border: 0;

}

/*body{
    margin: 0;
    padding: 0;
    border: 0;
}*/

/*.row::after{
    content: ""; 
    /*display: table; display em tabela
    clear: both; limpar de ambos os lados}*/

.col{
    min-height: 3rem; 
    display: inline-block;
    width:100%;
    
}

.headder, .footer{
    min-height: 15vh;
}

/*.carrocel{
    
    min-height: 25vh;
}*/

/*.galeria{

    display: inline-block;
    /*margin: 5%;
    min-height: 25vh;
    width: 100%;
    border:  solid black;
    
}*/

.conteudo1{
    min-height: 25vh;
    /*background-color: coral;*/
    border:  solid black;
}

.conteudo2{
    min-height: 25vh;
    /*background-color: beige;*/
    border: solid black;
}

.conteudo3{
    min-height: 25vh;
    /*background-color:chocolate;*/
    border: solid black;
}


.conteudo4{
    min-height: 25vh;
    /*background-color: crimson;*/
    border: solid black;
}

/*.conteudo5{
    min-height: 25vh;
    background-color:  crimson;
}

.conteudo6{
    min-height: 25vh;
    background-color: chocolate;
}

.conteudo7{
    min-height: 25vh;
    background-color: beige;
}

.conteudo8{
    min-height: 25vh;
    background-color:coral;
}

.headder{
    display: flex;
}

/*.borda-vermelha{
    border-color: rgb(56, 4, 4);
    background-color: red;
    
    
}
.borda-azul{
    border-color: rgb(4, 4, 68);
    background-color: blue;
    
}
.borda-verde{
    border-color: rgb(4, 77, 4);
    background-color: green;
    
}
.borda-amarela{
    border-color: rgb(88, 88, 6);
    background-color: yellow;
    
}

.borda-laranja{
    background-color: orange;
}*/

@media(min-width:720px){
.col-1{width: 8.33%;} 
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 49.7%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

}



/*@media print {
    .borda{
        border-color: red;
    }

    .video{
        display: none;
    }
}*/

.logo{
    max-width: 12em;
}

.nav-link{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 900;


}

.btn{
    background-color: #fff;
    color: #5166A8;
    border-color: #fff;
}
#sacolinha{
    max-width: 2.5em;
}
.navbar-toggler{
    background-color: white;
    color: #5166A8;
    
}
.navbar-toggler:hover{
    background-color:#5166A8;
    border-color: white;
    scale: 1.1;
}

.btn-outline-success:hover{
    background-color:#5166A8;
    border-color: white;
    scale: 1.1;
}

footer{
    width: 100%;
    background: linear-gradient(#5166A8, black) ;
    padding: 2%;
    padding-left: 10%;
    color: white;
    

  
}

#redessociais{
    width: 33.3%;
    
}

#redessociais img{
    width: 10%;


    
}

#site_seguro img{
    width: 33.3%;
    
    
    

}

#formas-pagto{
    width: 33.3%;

    

    
}

#formas-pagto img{
    width: 30%;
    
    

    
}
footer div{
    
    
    
    
    
}



h5{
    font-size: 70%;
}