

*{
    margin: 0;
    padding: 0;
    border: 0;

}

.col{
    margin-top: 0.5em;
    margin-left: 0.5em;
    min-height: 1rem; 
    display: inline-block;
    width:100%;
    
}

.headder, .footer{
    min-height: 15vh;
}

@media(min-width:720px){
.col-1{width: 8.33%;} 
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 49%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

}

.logo{
    max-width: 12em;
}

.nav-link{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 900;


}

.nav-item :hover{
    font-size: larger;
}
.btn{
    background-color: #fff;
    color: #5166A8;
    border-color: #fff;
}
#sacolinha{
    max-width: 2.5em;
}
.navbar-toggler{
    background-color: white;
    color: #5166A8;
    
}
.navbar-toggler:hover{
    background-color:#5166A8;
    border-color: white;
    scale: 1.1;
}

.btn-outline-success:hover{
    background-color:#5166A8;
    border-color: white;
    scale: 1.1;
}

footer{
    width: 100%;
    background:#5166A8 ;
    padding: 2%;
    padding-left: 10%;
    color: white; 
}

#redessociais{
    width: 33.3%;   
}

#redessociais img{
    width: 10%;   
}

#site_seguro img{
    width: 33.3%;
}

#formas-pagto{
    width: 33.3%;
}

#formas-pagto img{
    width: 30%;   
}

h5{
    font-size: 70%;
}

.imgconteudo{
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
    
}

.imgconteudo3{
    width: 90%;
    margin-left: 10%;
    margin-top: 3%;
}



.conteudo3{
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.form-login{
    background-color: #5166A8;
    color:white ;
}

label{
    color: black;
}

#lembrese{
    color: #fff;
}
footer{
    margin: 0;
}